<div class="jumbotron center">
	<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Description</th>
      <th>Materials</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>This is the first assignment</td>
      <td><%= link_to "Assignment1", '/Assignment1.pdf' %></td>
    </tr>
  </tbody>
</table>
</div>