<div class="jumbotron center">
   <% if user_signed_in? %>
        <h1>Welcome to Calsys!</h1>
   <% else %>
   	<h1>Calsys Student Portal</h1>
		<p>
		 <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		 <!--<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>-->
		</p>
	<% end %>  
</div>